body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
    background: url("../images/b3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .signup-box {
    width: 360px;
    height: 555px;
    margin: auto;
    border-radius: 3px;
    background: transparent;
    color: white;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
}

.login-box {
    width: 360px;
    height: 310px;
    margin: 11% 35%;
    border-radius: 3px;
    color: white;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 4px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  .para-2 {
    text-align: center;
    font-size: 15px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  
  